# .envrc
# Use this file with direnv to automatically load necessary environment variables.
#   https://github.com/direnv/direnv
#

# Usage:
#   This file is committed and loads values from .env and .env.local which are NOT committed.
#
#   Copy .env.sample to .env and then run "direnv allow" to load updated values.
#   Without direnv, just run "source .envrc" (assumes bash is your shell).
#

[[ -f "./.env" ]] && printf "direnv: loading .env\n" && source "./.env"
[[ -f "./.env.local" ]] && printf "direnv: loading .env.local\n" && source "./.env.local"
