## .env
##
## Copy this file to .env. Remove leading "#" sign to uncomment lines as you
## define values. Variables in here should not be exported, they will be
## ingested by .envrc, docker-compose, dotenv, etc.
##
## You may export your own personal variables in here, if needed, like debug
## flags:
##
##  export DEBUG=1
##
## Personal environment variables should not be added to .envrc so this is the
## right place to define and export them.
##
## Values in this file should be simple key/value pairs and should not rely on
## any sort of shell evaluation. If you need to do something more complex place
## those values in .env.local which will be ignored by docker-compose, dotenv,
## and similiar libraries.
##

NODE_ENV='development'

