## .env
##
## Docker dev environment
##
## Copy this file to .env. Remove leading "#" sign to uncomment lines as you
## define values. Values in here are imported directly by docker-compose.
##
COMPOSE_PROJECT_NAME=nomad-auth-api
